[2015-08-06 15:38] kuribe opened #1 "EC2 setup does not work for any user but root"
Hi,

I was trying to use the spark-ec2 script from Spark to create a new Spark cluster wit an user different than root (--user=ec2-user). Unfortunately the part of the script that attempts to copy the templates into the target machines fail because it tries to rsync /etc/* and /root/*

This is the full traceback

rsync: recv_generator: mkdir "/root/spark-ec2" failed: Permission denied (13)
*** Ski

[2015-08-06 16:22] shivaram commented on #1
Unfortunately the spark-ec2 scripts are only designed to work as the root user right now. There isn't any simple workaround and I think supporting non-root users will require extensive code changes.

[2015-08-12 17:10] mdagost opened #2 "Submission scripts are broken on ec2 clusters started with spark-ec2 with private IP's"
See [this issue in JIRA](https://issues.apache.org/jira/browse/SPARK-9884).  Fix coming shortly.  @tkunicki

[2015-08-12 17:25] tkunicki commented on #2
The referenced patch was implemented to resolve an issue with EC2 VPC clusters and broken links in the web ui.   When a public DNS names wasn't present, the web UI links were generated w/o hostnames.  The private IP address is used as a stand-in in this case so that machines on the VPC (e.g. connected via VPN) can utilize the web UI w/ private IPs.

[2015-08-12 17:58] mdagost commented on #2
Yep.  That makes total sense (that's actually the mode in which we run our clusters).  Were you able to submit with that change?  I don't entirely understand what the deal is, but this simple change unbreaks everything, which is what I'm going to put in my PR.  The first command fails without the `export`.

[code]

[2015-08-12 18:22] tkunicki commented on #2
I didn't have an issue w/ spark-ec2 generated clusters running 1.3.[01] using amazon linux (custom w/ java 8).  huh, I don't understand the functional difference between the `export` positions.

[2015-08-12 18:29] mdagost commented on #2
Yeah, it's weird.  I don't understand the difference either, but it seems to have something to do with the effect of calling multiple bash scripts from each other using `source`, as far as I can tell.  But it's definitely that first line that's causing the problem (none of the submission scripts make it past that line), and this definitely fixes it while correctly setting the `SPARK_PUBLIC_DNS`.

[2015-08-13 02:02] tkunicki commented on #2
@mdagost, strange question, is `wget` installed on your system?  what does it return on your VPC instance when run from the shell with the script commands?  Just trying to make sense of your fix.  Is there some behavior with `export=`  with executed commands when the return code is non-zero?

[2015-08-13 03:10] mdagost commented on #2
Yep--wget is installed (it's the regular official spark ami that I'm using). From a shell, it does what you'd expect it to do. The only thing I can think of is that that script is being sourced several layers deep when you call the suit script. I also thought about the return code issue but couldn't dig anything up.  Could be that something with the back ticks too.

Are you able to start a 1.4.1 c

[2015-08-13 13:29] mdagost commented on #2
Actually, it's possible that it's related to the non-zero exit code and this:

http://unix.stackexchange.com/questions/23026/how-can-i-get-bash-to-exit-on-backtick-failure-in-a-similar-way-to-pipefail

[2015-08-20 04:21] cristipp opened #5 "Feature request: Scala 2.11 support"
There is work to enable multiple Scala versions support. But so far only Scala 2.10.3 is supported. Is there interest and/or a roadmap for Scala 2.11 support?

[2015-08-20 21:34] #2 closed

[2015-09-24 07:25] skurfuerst opened #13 "Add eu-central-1 AMI images"
Hey everybody,

due to company policy restrictions, we are just allowed to use the eu-central-1 AWS region -- unfortunately, the Spark-EC2 image is not added there...

Would be really great for me if you could add it!

All the best,
Sebastian

[2015-10-01 18:02] kurtharriger opened #14 "ephemeral-hdfs does not work with hadoop-major-version yarn"
When creating cluster using --hadoop-major-version yarn I noticed the hdfs does not function.
I relaunched the cluster using --hadoop-major-version 2 and hdfs works fine.

root@... $ /root/ephemeral-hdfs/bin/hadoop fs -cp "s3n://[redacted]" /data

OpenJDK 64-Bit Server VM warning: You have loaded library /root/ephemeral-hdfs/lib/native/libhadoop.so.1.0.0 which might have disabled stack guard. The

[2015-10-02 02:00] neil-rubens commented on #5
+1

[2015-10-05 21:33] jcainey opened #15 "Missing Spark 1.5.1 / Hadoop 1 binary"
Prior to Spark 1.5.1 there has been a pre-built version of Spark, packaged with Hadoop 1, stored in http://s3.amazonaws.com/spark-related-packages - e.g. for Spark 1.5.0 we had `spark-1.5.0-bin-hadoop1.tgz`. However this seems to no longer be the case. I'm not sure if this is an accidental omission or whether it reflects a change in policy, although I suspect the former since the Scala 2.11 versio

[2015-10-05 21:37] JoshRosen commented on #15
This is accidental. I'm working on fixing this as we speak but am currently blocked by some infra outages. Please follow the [Spark 1.5.1 - Scala 2.10 - Hadoop 1 package is missing from S3](http://apache-spark-developers-list.1001551.n3.nabble.com/Spark-1-5-1-Scala-2-10-Hadoop-1-package-is-missing-from-S3-td14446.html) thread on the Spark developers mailing list for updates.

[2015-10-05 21:37] #15 closed

[2015-10-06 20:57] craiig opened #16 "AMI IDs up to date?"
Just checking if it's known whether or not the AMI IDs are up to date in this repo? I have tried locating the ami ids listed here for us-west-1 and us-west-2, but I could not find the same ids on AWS. The main spark ec2 setup still loads the AMIs from this git repo.

Should I just point the script to use the amazon linux AMI id?

Thanks

[2015-10-07 04:09] guang commented on #16
ran into similar problem, would also be interested to know so i could beef up the AMI with python packages

[2015-10-08 09:58] felixmaximilian opened #17 "Running Low on Storage when Building Specific Spark Version"
Hi,

I am having trouble creating the spark cluster with a custom spark version.
I am doing:
[code]
-v is using a specific git commit with the given hash (e.g. Spark Version 1.5.1)

When the cluster nodes are started spark is cloned from git (into /root folder) and built. After a while, the script stops because of "no space left on device" warnings.
When I login into master and check the space lef

[2015-10-08 16:38] shivaram commented on #16
The AMI IDs are up to date as far as I know. AWS search / indexing has some missing entries but you should be able to verify them using the `aws` cli tool with something like

[code]

[2015-10-08 16:50] shivaram commented on #17
Thanks @felixmaximilian for the report. The trouble is that increasing EBS volume size requires AMIs to be rebuilt for all the regions.

One workaround might be to build Spark on the ephemeral disk at `/mnt`. Could you see if that works and if so we can make a code change for that ?

[2015-10-09 14:04] felixmaximilian commented on #17
Building spark in /mnt/ is possible. Do you plan to copy the compiled spark back to the EBS volume? Then its necessary to make sure you don't copy the whole target folder etc. We should build the distribution (make-distribution.sh) in /mnt/ and than uncompress it back to the EBS volume.
What do you think? We could try to jointly find a comfortable solution on Monday.
Have a nice weekend.

[2015-10-12 22:27] takism1 commented on #5
+1

[2015-11-05 19:51] nchammas commented on #17
Just for the record, I'm running into this issue as well.

@felixmaximilian - Have you made any progress on solving this? I can help you write a patch, if you are interested in writing one.

[2015-11-05 21:15] felixmaximilian commented on #17
A colleague created an ami with much more (I guess ebs) space on the main
partition (root). Haven't really tried it again but it should be solved
though.

Fixing this problem within the code of ec2 spark wasn't very much
successful on my side. Tried different things but ended with the problem
that you cannot really do much on the externally mounted mnt2 mnt3 etc
while starting the cluster because

[2015-11-06 04:10] nchammas commented on #17
Hmm, anything that requires updating all the spark-ec2 AMIs is a tough sell since that takes a lot of work and the process is not automated.

[2015-11-06 05:58] shivaram commented on #17
Yeah just to clear some things - AFAIK to increase root partition size needs an AMI rebuild. However I think we should be able to clone and build Spark on /mnt using `make-distribution.sh` and then unzip to the root partition.

The HDFS thing is not really an issue -- the HDFS binaries are on /root but it uses /mnt on every machine for storage, so it can use all the ephemeral storage.

[2015-11-06 17:02] tafypz commented on #5
+1

[2015-11-08 08:03] zfy0701 commented on #5
+1

[2015-11-13 18:26] craiig commented on #16
Yeah, I got around to checking and these still works. FWIW these are old AMIs (2013) with likely lots of security updates to be applied, and it looks like the default ingress rules allow most everything. Be careful! Updating the scripts to newer AMIs would just require changing root to ec2-user. :) Thanks!

[2015-11-13 18:29] #16 closed

[2015-11-13 19:10] nchammas commented on #16
If by newer AMIs you mean the default Amazon Linux AMIs, then I don't think it's that simple. The spark-ec2 AMIs include a bunch of tools and libraries in specific places that spark-ec2 expects. Also, several commands are run which need root privileges, and they would need to be `sudo`-ed if the user ever changed to something other than root.

If you mean creating a new set of AMIs from the existi

[2015-12-15 18:42] ewasserman commented on #5
+1

[2015-12-18 02:13] nchammas commented on #17
I think this issue can be resolved without having to do any work on the AMIs. See [this comment](https://github.com/apache/spark/pull/7647#issuecomment-165166398).

[2016-01-16 03:37] adamjk commented on #1
Should probably remove that --user parameter then.

[2016-01-22 10:17] drewrobb commented on #5
+1

[2016-01-22 10:32] drewrobb opened #22 "hadoop minor version not supported"
It would be excellent to have support for specifying a specific hadoop minor version. Spark itself is distributed for 2.4.0 and 2.6.0, but there is no way to currently use 2.6.0 here.

[2016-02-26 18:36] tartavull commented on #17
+1

[2016-03-09 12:49] cederigo commented on #13
:+1:

[2016-03-26 02:02] andkopp commented on #13
I would appreciate.

[2016-04-12 09:03] dmnpignaud commented on #5
+1

[2016-04-13 16:53] nchammas commented on #5
I think this problem will fix itself when Spark 2.0 comes out since Scala 2.11 will become the default.

Also, GitHub tip: There is no need to add +1 comments anymore. You can now add your reaction directly to the original post by clicking on the emoji in the top right corner.

[2016-04-15 01:18] nchammas commented on #1
@adamjk - Good call. Is that option useful for anything? I've never used it. Perhaps we should remove it?

[2016-04-15 01:52] nchammas commented on #13
@skurfuerst - Are you able to manually copy the spark-ec2 AMI to the region you need?

I might be wrong about this, but I don't think the Spark team has the resources to spend on adding and managing more custom spark-ec2 AMIs. The ones we already have are quite old and haven't been updated in years.

[2016-04-18 22:12] anusha-ntap opened #25 "sparc"
I am using spark-1.6.1-prebuilt-with-hadoop-2.6 on mac. I am using the spark-ec2 script to launch a cluster in Amazon VPC.

The setup.sh script [run first thing on master after launch] uses pssh and tries to install it via 'yum install -y pssh'. This step always fails on the master AMI that the script uses by default as it is not able to find it in the repo mirrors - hits 403, PYCURL ERROR 22.

Lo

[2016-04-19 17:27] shivaram commented on #25
I think this is because the Amazon VPC cluster might not have access to the internet.

[2016-04-19 17:38] shivaram commented on #13
Yeah I'd just like to add that maintaining / updating AMIs regularly is something we don't have manpower for. I think we will do a new set for Spark 2.0 and in that batch we will try to include eu-central-1 as well.

[2016-04-19 17:38] shivaram commented on #1
+1 on removing the option.

[2016-05-12 20:51] yinjiehuang opened #27 "Errors when deploying spark on EC2 with specified AMI-ID"
Hi guys,

I was just trying to deploy spark on EC2 with the following commands:

/spark-ec2 --key-pair=key_spark_oregon --identity-file=key_spark_oregon.pem -a ami-9abea4fb --instance-type=t2.micro --region=us-west-2 --zone=us-west-2a launch my-spark-cluster

So I used an AMI "ami-9abea4fb" here, which is a Ubuntu HVM, then I got the following information:

Setting up security groups...
Searching

[2016-05-12 21:26] nchammas commented on #27
spark-ec2 does not support launching clusters running Ubuntu. It's built to work with custom Amazon Linux AMIs that expect you to log in as `root` and that have specific versions of Unix utilities which may not exist on other distributions.

[2016-05-12 21:34] yj-yjh-yj commented on #27
@nchammas Thanks a lot for your reply!

[2016-05-12 21:36] #27 closed

[2016-05-20 23:23] jamborta opened #28 "Hive context"
Hi,

I have created a cluster using branch-1.6, when I try to create a HiveContext I get:

("You must build Spark with Hive. Export 'SPARK_HIVE=true' and run build/sbt assembly", Py4JJavaError(u'An error occurred while calling None.org.apache.spark.sql.hive.HiveContext.\n', JavaObject id=o332))

would it be possible to user a spark jar where Hive is enabled?

[2016-05-22 12:47] ThuF opened #29 "Missing eu-central-1 (Frankfurt) ami-list"
There is no ami-list entry for eu-central-1 (Frankfurt)

[2016-05-22 15:52] nchammas commented on #29
Dup of #13.

[2016-05-24 00:57] shivaram commented on #28
Right now we just use binary distributions provided by the Spark project (i.e. from http://spark.apache.org/downloads.html). You can open a Spark JIRA to see if other builds i.e. with Hive can be supported there.

[2016-06-10 10:40] #28 closed

[2016-06-10 10:45] jamborta opened #30 "set temp dir on workers (SPARK_WORKER_DIR)"
Hi,

I am running spark 1.6 with an extra disk attached (--ebs-vol-size), trying to make spark workers to write to that disk. Seems spark has the option SPARK_WORKER_DIR, that would do that, but it does not seem to pick it up in this setting (I set it in /root/spark/conf/spark-env.sh). Is there a way to achieve this?

(SPARK_LOCAL_DIRS works on the master node though)

[2016-06-10 17:06] shivaram commented on #30
You might need to copy `spark-env.sh` to all the workers using `/root/spark-ec2/copy-dir` and then restart Spark.

[2016-06-10 22:47] jamborta commented on #30
@shivaram thanks, that worked.

[2016-06-10 22:47] #30 closed

[2016-06-14 20:24] codeexplorer opened #33 "spark-ec2 scripts with spark-2.0.0-preview"
spark-2.0.0-preview doesnt have spark-ec2 scripts shipped with it.
I tried tweaking the spark-ec2 scripts from older releases to accomodate spark-2.0.0-preview but couldnt get those to work.

Here's the relevant email thread from the user/dev mailing lists:

Shivaram Venkataraman shivaram@eecs.berkeley.edu via spark.apache.org
1:06 PM (16 minutes ago)

Can you open an issue on https://github.com/a

[2016-06-14 20:26] shivaram commented on #33
cc @thisisdhaas

[2016-07-18 22:14] cjosephson opened #40 "Branch-1.6 missing latest spark stable, and wrong DEFAULT_SPARK_EC2_BRANCH set"
The spark_ec2.py script in branch-1.6 is missing spark versions 1.6.1 and 1.6.2. Furthermore, the DEFAULT_SPARK_EC2_BRANCH  is set to branch-1.5 inside the branch-1.6.

I forked the project and fixed the issues I was seeing, and verified it by successfully launching a cluster running 1.6.2.  Then I made a pull request last week (https://github.com/amplab/spark-ec2/pull/37) for the changes I made,

[2016-07-18 22:35] shivaram commented on #40
Thanks @cjosephson -- I'll take a look at the PR today

[2016-07-19 01:27] shivaram commented on #40
Closed by #37

[2016-07-19 01:27] #40 closed

[2016-07-27 17:03] simplyianm commented on #33
+1

[2016-07-27 17:07] nchammas commented on #33
@shivaram - I guess we should close this issue since it was addressed by #35.

[2016-07-28 03:17] shivaram commented on #33
Closed by #35

[2016-07-28 03:17] #33 closed

[2016-07-28 04:13] DSLituiev opened #43 "cluster setup error: unknown spark version"
I faced following issue while running `./spark-ec2 --key-pair=<> --identity-file=<> --region=us-west --instance-type=t2.micro -s 2 launch test-cluster `:

[code]

[2016-07-28 05:00] DSLituiev commented on #43
Seemingly there is no archive for `spark-1.6.2-bin-hadoop1.tgz` there.
Using `--hadoop-major-version 2` leads to the following:

[code]

[2016-07-28 16:11] shivaram commented on #43
Yeah it looks like that file is missing -- @JoshRosen can you help in uploading `spark-1.6.2-bin-hadoop1.tgz` to the S3 bucket `spark-related-packages` ?

[2016-08-01 21:45] ASavchenkov commented on #14
I have actually been having a similar issue. Haven't tried using major-version 2 though yet. I can't seem to start datanodes, even manually.

[2016-08-02 15:07] yicunqian opened #44 "Exception: pyspark does not support any application options"
So I launched an ec2 cluster via spark-ec2 and it worked well, until when I tried to launch an iPython session, the error came out as: "Exception in thread "main" java.lang.IllegalArgumentException: pyspark does not support any application options." Actually the same launch command worked just a few days ago and it fails now. Any solutions for that? Thanks.

[2016-08-02 16:08] shivaram commented on #44
I dont think this is an issue with the ec2 scripts and this might be a better question for the spark user mailing list

[2016-08-02 16:20] yicunqian commented on #44
True. But I would appreciate any help even if it's not typically relevant to the ec2 script. Thank you anyway.

[2016-08-02 16:32] #44 closed

[2016-08-02 16:47] AEDWIP commented on #44
Hi Yicun

Very strange. I use the spark-ec2 script in spark 1.6.1. I upgrade to
python3

I launch my notebook sever as follows. I have never seen your problem before

$ cat startIPythonNotebook.sh

export PYSPARK_PYTHON=python3.4

export PYSPARK_DRIVER_PYTHON=python3.4

export IPYTHON_OPTS="notebook --no-browser --port=7000 --log-level=WARN"

if [ -z "$MASTER_URL" ]; then

[code]

echo base url sh

[2016-08-05 18:42] omdv commented on #43
@DSLituiev  try `--hadoop-major-version=2`, it worked fine for me.

I don't know if file have been uploaded, but i noticed that the name changed to `spark-1.6.2-bin-hadoop1-scala2.11.tgz` on https://www.apache.org/dist/spark/spark-1.6.2/

[2016-08-05 18:57] DSLituiev commented on #43
@omdv: As I mentioned above (assuming nothing changed in code or repositories):
Using `--hadoop-major-version 2` leads to the following:

[code]

[2016-08-05 21:28] omdv commented on #43
@DSLituiev could you try it with `=` sign?

[2016-08-06 23:02] DSLituiev commented on #43
@omdv: it works. Thank you!

[2016-08-17 22:19] sumosha commented on #22
Any progress on this? We are also looking to use 2.6 here. Thanks!

[2016-08-18 16:23] agustinbf commented on #1
I agree. Please remove the option as is confusing.

[2016-08-31 12:38] piec opened #47 "Simple spark-ec2 launch fails"
Hi,

I'm trying to setup a simple spark cluster with 1 slave (using branch-2.0)
I use the following commands
[code]
I tried several times and I always end of with this log:

[code]
I noticed these error parts:
[code]
[code]
[code]

So lots of errors, is there anything I'm doing wrong?
 (also tried branch 1.6 or with eu-west with the same result)

Cheers & thanks for your work

[2016-08-31 12:55] nchammas commented on #47
No, those errors are "normal", unfortunately, and are mostly just noise. You should be able to login and Spark should be working fine.

We may need another fix to address the `httpd` error, like in #9. I don't use Ganglia (which requires `httpd`, I think), though, so I'm not sure.

[2016-08-31 12:59] piec commented on #47
Oh really? I terminated the instances so I'm going to re-setup in order to try

[2016-08-31 16:59] piec commented on #47
It works thanks! I was confused by the error messages and by the time it takes to startup

[2016-08-31 16:59] #47 closed

[2016-09-13 01:48] jgustave opened #50 "Fingerprint check"
Hello, I'm trying out your tool on 2.0-branch using osx 10.10.5

The machines are created in EC2, but then the script is unable to proceed with the rest of the provisioning. (I get the below error repeatedly).
However if I manually ssh in to the machines the script unblocks and proceeds. If I had to guess I would say it's related to the prompt for authenticity/fingerprint check.

-----------------

[2016-09-13 16:01] shivaram commented on #50
It usually takes some time for the hosts to be ssh ready. If you run into this issue you can restart the script with `--resume` and it will try to reconnect to the already launched hosts.

FWIW we already skip host key checking in https://github.com/amplab/spark-ec2/blob/dcdc566b9e243a5be1362e8944f0ec16db3a7ea9/spark_ec2.py#L1151

[2016-09-13 16:09] jgustave commented on #50
Ok, thanks. And thanks for this set of scripts.

[2016-09-13 16:09] #50 closed

[2016-09-13 20:11] jgustave opened #51 "question about dependency updates"
I am using branch-2.0.0 and I see it is using:
Spark 2.0,
Scala 2.10.6.
java 1.7 (jre)
java 1.6 (jdk)
aws cli (0.? I forget which)

I spent a little bit of time trying to update java(1.8),scala(2.11),aws(1.10) libraries but didn't have much success after the upgrades...
Just thought I'd log the request, and also see if anyone else had success with this.

[2016-09-21 09:52] ndtreviv opened #52 "README.md references non-existent configuration guide"
Under the Configuration section on the README, it links to a configuration guide, at location: https://github.com/amplab/spark-ec2/blob/branch-1.6/configuration.html

That file does not exist.

[2016-09-21 13:11] ndtreviv opened #53 "Default spark version not found on s3"
I just ran the following:
[code]
on a clone of 1.6 branch, and got the following error:

[code]

I'm guessing that I can fix this by specifying a spark version that does exist, but putting this here because docs state that it should default to a valid version.

[2016-09-21 13:42] ndtreviv commented on #53
Even if I add --spark-version=1.6.2 it still tries to get `spark-1.6.2-bin-hadoop1`.

[2016-09-22 14:32] ndtreviv commented on #53
Closing, as this is the same as #43

[2016-09-22 14:32] #53 closed

[2016-09-22 21:12] shivaram commented on #52
I think that should point to - http://spark.apache.org/docs/latest/configuration.html
Would you like to send a PR fixing this ?

[2016-09-26 16:15] #52 closed

[2016-09-29 22:38] jamborta commented on #22
found a few bugs in 2.4, would be great to be able to update to 2.6 or 2.7

[2016-09-29 22:42] jamborta commented on #22
@shivaram I could create a PR for this if you had the files available on S3

[2016-09-29 22:46] shivaram commented on #22
Thanks that would be great. The files that are available on S3 can be found at http://s3.amazonaws.com/spark-related-packages/ (or by using `aws s3 ls s3://spark-related-packages`). I think we support 2.6 from 1.4 onwards or something like that.

[2016-09-29 23:05] jamborta commented on #22
@shivaram I can see the spark files have the newer hadoop versions, but cannot find the appropriate Tachyon files (https://s3.amazonaws.com/Tachyon). and the hadoop files for hdfs (ie hadoop-2.6.0.tar.gz) are not there.

maybe that version mismatch between spark hadoop version and hdfs hadoop version would not matter anyways?

[2016-09-29 23:10] shivaram commented on #22
The tachyon one probably doesn't matter as much - If a user chooses hadoop 2.6 we could automatically disable tachyon or something like that. I think the Tachyon project or (Alluxio) has their own set of scripts these days.

For the HDFS one I think its pretty important that we match the exact version used in the Spark build. For now we can use a download from an apache mirror and meanwhile I'll t

[2016-09-29 23:22] jamborta commented on #22
sounds good, thanks.

[2016-10-04 03:51] arokem opened #57 "Using spark_version='1.6.2' results in partial installation (?)"
Specifically, I get these messages during launch of the cluster, and these files are indeed not in place once the cluster starts up:

    ./spark-ec2/spark-standalone/setup.sh: line 22: /root/spark/bin/stop-all.sh: No such file or directory
    ./spark-ec2/spark-standalone/setup.sh: line 27: /root/spark/bin/start-master.sh: No such file or directory

Indeed, no spark web interface on port 8080 eit

[2016-10-04 04:01] shivaram commented on #57
Is this from `branch-2.0` ? I think the problem is we didn't backport the change that added 1.6.1 and 1.6.2 to branch-2.0 as seen from [1]. Can you check if adding 1.6.2 there fixes the problem ?

[1] https://github.com/amplab/spark-ec2/blob/06f5d2bc7c222aecb56e2f7bb8b8e160bc501104/spark_ec2.py#L78

[2016-10-04 04:07] arokem commented on #57
This is from `branch-1.6`

[2016-10-04 04:13] shivaram commented on #57
Hmm that means `SPARK_VERSION` isn't being correctly parsed somehow. Because as in [2] the default should be `sbin` and not `bin`

[2] https://github.com/amplab/spark-ec2/blob/4b57900a24e25accd9c3f14c867920730813bf11/spark-standalone/setup.sh#L5

[2016-10-04 13:57] Data-drone opened #58 "I ran the 2.0.0 version spark-ec2 script"
whilst starting the cluster it kept getting:

Permission denied (publickey).
lost connection

any ideas how to debug?

[2016-10-04 16:58] arokem commented on #57
As far as I can tell, there's neither a `bin` nor a `sbin` directory under
`/root/spark`. The only thing under `/root/spark` is:
`/root/spark/conf/spark-env.sh`

On Mon, Oct 3, 2016 at 9:13 PM, Shivaram Venkataraman <
notifications@github.com> wrote:

[2016-10-04 17:02] shivaram commented on #57
That means that Spark wasn't downloaded properly - My guess is this has to do with the tar.gz files for hadoop1 not being found on S3. You could try `--hadoop-version=yarn` as a workaround

[2016-10-04 17:58] arokem commented on #57
Thanks! For now, I have resorted to set `spark_version` to `1.6.0`, which seems to work, but I'll try that too. Feel free to close this issue, unless you want to keep track of this. And thanks again.

[2016-10-04 18:07] arokem opened #59 "Ganglia fails to start"
Using `branch-1.6`. Looks like this: https://issues.apache.org/jira/browse/SPARK-8338

[2016-10-04 21:21] etrain commented on #57
I ran into something similar recently.

It appears that for spark 1.6.2 only a subset of the binaries were uploaded to s3:

[code]

While

[code]

[2016-10-05 14:03] Data-drone opened #60 "SPARK_HOME?"
I am trying to connect to the cluster using sparklyr but I need to define an environment variable: SPARK_HOME.

I cannot find any clue as to what spark home should be?
root/spark looks like it's just config files?

Also the start up script says that everything has finished and Spark Stand alone cluster is started but the default UI at 8080 isn't working?

[2016-10-08 16:10] lagerspetz opened #61 "How to launch Spark 2.0.1 clusters with spark-ec2 scripts?"
When I upgraded to Spark 2.0, I took the 2.0 branch from this repository and it allowed me to spin up Spark-2.0 clusters on Amazon EC2. However, there does not seem to be 2.0.1 in any of the valid versions in any of the branches. Can you help me?

[2016-10-08 17:10] shivaram commented on #61
The release just happened last week and we need to add 2.0.1 to the list of valid versions. Could you open a PR for this ?

[2016-10-09 05:53] lagerspetz commented on #61
I just opened:
https://github.com/amplab/spark-ec2/pull/62

[2016-10-13 02:31] c4goldsw opened #63 "Making a node running spark-ec2 the master node"
The title pretty much says everything.  I want to be able to use spark-ec2 to (in a single command):

1. Create a set of slaves
2. Launch Spark on the node spark-ec2 is running on
3. Launch Spark on the slaves
4. Register each slave with the master

If this already isn't implemented (I've seen taken a quick glance through the source and it doesn't seem like it is), I'll probably go about doing it

[2016-10-13 22:02] shivaram commented on #63
Yeah there is a flag `--use-existing-master` that tries to lookup the master machine by the instance tag.  However running spark_ec2.py from the master node isn't a use case that we probably intend to support. A lot of the logic involves ssh'ing to master, slaves and it might be too much work to remove that etc. Is there a specific use case where running spark_ec2.py inside the cluster is required

[2016-10-13 22:12] c4goldsw commented on #63
I'm going to be working with a dataset that's over 100 GB in size, and rather than having to transfer that data between S3 and my master node, I'd rather just launch the master from an AMI (with the data on it).  I'll probably go about implementing this myself.

[2016-10-13 22:21] shivaram commented on #63
Theres a few of ways to handle this:
- you can put the data in a EBS volume and once the spark cluster comes up you can attach that ebs volume to just the master node
- if your data is a AMI and you don't mind using that for all the nodes you can just launch spark-ec2 with that ami-id
- finally depending on your processing needs, you can also just use Spark to read from S3 and not make a copy to t

[2016-10-13 22:24] c4goldsw commented on #63
Hey, thanks for the reply.  I'll just go with the first option.  Thanks!

[2016-10-13 22:25] #63 closed

[2016-10-14 00:04] jgustave commented on #5
What's the status on this item? Last time I looked at the 2.0 branch it was still on 2.10..

[2016-10-14 04:26] shivaram commented on #5
As @nchammas said the newer 2.0.0 and 2.0.1 releases should have Scala 2.11 by default.

[2016-10-20 22:11] shivaram commented on #57
I think the problem here is that the artifacts are missing from the release not just from s3. i.e. http://www-us.apache.org/dist/spark/spark-1.6.2/spark-1.6.2-bin-hadoop1.tgz gives me a 404

[2016-10-25 05:01] biolearning opened #64 "How can launch Spark 2.0.1 and Hadoop 2.7?"
Right now it seems the latest hadoop version in spark-ec2 is 2.4, but actually in spark download page, it can be up to 2.7, also it is available in aws s3 http://s3.amazonaws.com/spark-related-packages. So the question is - how to launch such Spark cluster and if it does not support is there any workaround?

 --hadoop-major-version=HADOOP_MAJOR_VERSION
                        Major version of Hado

[2016-10-25 17:31] shivaram commented on #64
See #56

[2016-10-26 21:26] yuanfang2007 opened #65 "Connection to web UI broken for 1.6.2."
After the cluster is launched. I tried to connect to the web UI by:
http://<master-hostname>:8080
But it does not work. I checked the security groups, it seems the port 8080 is correct open to everywhere.

[2016-10-26 22:27] yuanfang2007 opened #66 "Connect to slave web UI broken 2.0.1"
Connect to worker web broken.
From the master UI page, linked to worker page:
http://xxxx.us-west-1.compute.amazonaws.com:8081

But it is broken.

[2016-10-27 07:41] biolearning commented on #64
Thanks. When is that improvement expected to check into the 2.0 branch?

[2016-10-28 19:37] yuanfang2007 opened #67 "UnknownHostException"
Submitting a job:
` /asidev/spark-latest/bin/spark-submit --class com.cxxxxx.ABC --master spark://ip-10-100-111-111.ec2.internal:7077`

Has the following exception. Those servers are in private VPC.

`Running Spark using the REST application submission protocol.
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
16/10/28 12:30:53 INFO RestSubmissionClient: Submitting a

[2016-11-02 03:57] alokshenoy commented on #47
@piec I'm getting the same errors, but in my case I'm not able to connect to spark dashboard. Were you able to connect to it eventually? (as in does it take time to actually start up?)

-- Edit --
nvm. I may have found the source of the issue (the spark installation fails because it can't find the spark tarball)

[2016-11-02 04:36] alokshenoy opened #69 "Simple setup fails. - Duplicate (hence closed)"
First attempt at trying to get a spark cluster running. Ran the following command:
[code]
In the end I cannot connect to the spark dashboard. Was trying to figure out what's going and while going through the output landed on this:

[code]

duplicate of #43

[2016-11-02 04:39] #69 closed

[2016-11-07 09:53] biolearning opened #70 "Is there a handy Hadoop cluster running?"
With Spark cluster launched and started with ec2 script, is there the Hadoop cluster ready to go, or just an easy command to start it? The reason I am asking for this is - I would like to enable log and save that in hadoop FS which is accessible for Spark workers?

[2016-11-07 12:37] adamdossa opened #71 "Easy way to start cluster with Java 1.8?"
Scripts work great, but EC2 machines have Java 1.7 on them rather than Java 1.8.

I can see https://github.com/amplab/spark-ec2/pull/12 adds some functionality related to this, but it's not clear to me exactly how to take advantage.

Do I need to build a new AMI and pass this on the command like (--ami) rather than using the versions defaulted from ami-list in the repo? Is there anywhere documente

[2016-11-07 16:58] shivaram commented on #70
Yes - there should be a HDFS installation on `/root/ephemeral-hdfs`

[2016-11-07 17:19] shivaram commented on #71
Short of recreating the AMIs there might not be an out of the box way to do this. However we can just install OpenJDK 8 using something like `yum install java-1.8.0-openjdk-devel.x86_64` on the machines ? If that works we can do it during initialization.

[2016-11-08 01:17] biolearning commented on #70
Thanks for your reply, @shivaram, is it started by default? I guess not, then what is the command I can start the Hadoop cluster?

[2016-11-08 03:29] shivaram commented on #70
It should be started by default. If you want to reconfigure / restart it you can read the Hadoop docs for the appropriate version.

[2016-11-15 00:46] stonefury opened #72 "S3 Unable to unmarshall response"
Anyone have experience with this kind of error?

`16/11/15 00:42:56 WARN TaskSetManager: Lost task 4.0 in stage 2.0 (TID 266, 10.9.248.105): com.amazonaws.AmazonClientException: Unable to unmarshall response (Failed to parse XML document with handler class com.amazonaws.services.s3.model.transform.XmlResponsesSaxParser$ListBucketHandler). Response Code: 200, Response Text: OK
  at com.amazonaws.ht

[2016-11-15 02:53] nchammas commented on #72
Seems like a question for Stack Overflow or the Spark User list, not here. This forum is for questions about the `spark-ec2` command-line utility, not general questions about using Spark on AWS.

[2016-11-15 18:13] bfleming-ciena commented on #72
Fair enough. Thanks

[2016-11-15 18:13] #72 closed

[2016-11-16 22:40] wearpants opened #74 "Include Python 3 in pre-baked AMI"
This would be very, very nice in 2016/2017. Or at least provide some instructions in README on how to do so.

[2016-11-17 00:35] shivaram commented on #74
I'm not really familiar with what needs to be done to make Spark use Python 3. cc @nchammas who might know more.

[2016-11-17 01:05] nchammas commented on #74
Getting Spark to use Python 3 is generally a simple matter of setting `PYSPARK_PYTHON=python3` or something similar. But this question is about including Python 3 in the pre-baked AMI, which is a separate matter.

Unfortunately, at this point I think it's on you to use something like `pssh` to install Python 3 on the cluster after it's been launched. You can also create your own set of AMIs from t

[2016-11-17 01:32] shivaram commented on #74
Thanks @nchammas - The third option of adding a `run-command` is something is probably the easiest to do as it should be just a code change.

The question of AMIs - I have spent some time thinking about it and long term it looks like there are two issues we will hit in the long run (a) manual labor involved in creating new AMIs (b) the cost overhead of storing those AMIs especially as we have one

[2016-11-17 01:44] nchammas commented on #74
Flintrock clusters have fewer out-of-the-box tools compared to spark-ec2. We don't install ganglia, for example. So the launch burden is lower, and it frees Flintrock to use the generic Amazon Linux AMIs.

Currently, Flintrock defaults to install Java 8 (if not already detected on the hosts) and Spark. You can flip a switch and have Flintrock also install HDFS. That's pretty much it.

The overhead

[2016-11-17 02:03] shivaram commented on #74
I see - The thing I was looking at is the old packer scripts that are part of the issue you linked above[1,2]. Certainly those have a large number of install steps and I guess we'll need to benchmark things to figure out how long they will take. I wonder if we can remove support for a bunch of them and make them optional via the run-command (i.e. we have a python-setup.sh in the spark-ec2 tree and

[2016-11-17 02:12] nchammas commented on #74
That sounds like a reasonable approach to me.

[2016-11-17 17:53] AEDWIP opened #75 "It would be nice to have an option to use java8"
Thanks

Andy

[2016-11-17 18:06] nchammas commented on #75
Dup of #71.

[2016-11-23 13:25] key2market opened #76 "Documentation wrong link"
In the documentation there is a broken link reference:
"If you wish to start a cluster using Spark, please refer to http://spark-project.org/docs/latest/ec2-scripts.html"

[2016-11-23 17:07] shivaram commented on #76
Hmm this is actually a bug in Spark as that should redirect users to the Spark EC2 github page. Let me open a JIRA there

[2016-11-26 06:58] biolearning opened #77 "how to remain conf upon restartup via spark-ec2"
Some conf change requires cluster restartup to take effect, say 'SPARK_WORKER_OPTS'; but during stop/start spark cluster via spark-ec2, it seems it re-setup cluster and flushes all of conf. So is there a way to keep them during stop/start cluster via spark-ec2? BTW, somehow I can not stop and start cluster via Spark stop-all/start-all scripts?

[2016-11-27 15:13] key2market commented on #77
Same here
`./spark-ec2 destroy my-spark-cluster`
 outputs
`Searching for existing cluster my-spark-cluster in region us-east-1...
Are you sure you want to destroy the cluster my-spark-cluster? (y/N) y`

even when there is no my-spark-cluster in region us-east-1. In other words, there is no prompt that stop script did not find the relevant cluster in the specific region and it looks like the script

[2016-12-02 19:29] sabman commented on #57
As well as
http://s3.amazonaws.com/spark-related-packages/spark-1.6.3-bin-hadoop1.tgz
http://s3.amazonaws.com/spark-related-packages/spark-1.6.2-bin-hadoop1.tgz

[2017-01-06 08:28] RudyLu commented on #65
Should be the same issue as #43 .

[2017-01-06 09:02] RudyLu commented on #57
Seems the same issue as #43.

[2017-01-07 13:50] raghav20 opened #78 "Can we have AMI for CA"

[2017-02-04 21:12] mmistroni opened #80 "Error when using a more up-to-date AMI"
Hi all
  I am trying to launch an ec2 cluster using a more up to date AMI:ami-c928c1a9
Here's my command

root@9f2c58d4fbe6:/spark-ec2# ./spark-ec2 -k ec2AccessKey -i ec2AccessKey.pem -s 2 --ami=ami-c928c1a9 --region us-west-2 launch MMTestCluster4

I am launching this from a docker container running Ubuntu 16.06 and i am getting this exception

Connection to ec2-54-187-145-15.us-west-2.compute.am

[2017-02-04 23:26] shivaram commented on #80
I think the error is happening due to some ssh output that comes up when we try to run `rsync` - https://www.centos.org/forums/viewtopic.php?t=53369 seems relevant

Also I think the error is happening when we rsync from the client (i.e. in this case your Ubuntu machine) to the master node. So one shouldn't need a big cluster to debug this - launching 1 master, 1 slave with t1.micro might be enough

[2017-02-05 10:49] mmistroni commented on #80
Hello
 Thanks...Will try it out...Good to know I can use Micro instances
Kr

On 4 Feb 2017 11:26 pm, "Shivaram Venkataraman" <notifications@github.com>
wrote:

[2017-02-05 15:53] mmistroni opened #81 "Mailing List: is there a mailing list for this project"
HI
 is there a  mailing list for this project? or at least few email addresses i can contact when i find issues?
I'd rather not waste your useful time by creating Issues just to get somene to assist me
kind regards
  Marco

[2017-02-09 22:54] anfeng opened #82 "Hadoop 2.6 support for Spark 1.6"
Is there any reason that you only support Hadoop 2.4 for Spark 1.6?
It will be lovely if you could also support Hadoop 2.6.

[2017-02-11 16:59] shiyuangu opened #85 "Spark 2.1 Supported?"
Is Spark 2.1 supported?  It is not in the VALID_SPARK_VERSIONS in branch-2.0

[2017-02-18 18:12] shivaram commented on #85
I think we should support it. Please open a PR if you have a chance to add support for this.

[2017-02-18 21:03] mmistroni opened #86 "Cannot run tasks on two differnet nodes"
HI all
 i am creating an ec2 cluster using 2.0 branch.
The cluster is created with 4 cores
When created, i am connecting to each slave , kicking off exactly the same application with the following command:

oot@ip-172-31-4-154 bin]$ ./spark-submit --master spark://ec2-54-186-158-159.us-west-2.compute.amazonaws.com:7077  --executor-cores 1 /root/pyscripts/dataprocessing_Sample.py  file:///root/pysc

[2017-02-19 01:14] shivaram commented on #86
This question is not related to the EC2 scripts -- I'd suggest asking this on the Spark users mailing list / stack overflow as described in http://spark.apache.org/community.html

[2017-02-19 10:21] mmistroni commented on #86
Will do. Apologies
Kr

On 19 Feb 2017 1:14 am, "Shivaram Venkataraman" <notifications@github.com>
wrote:

[2017-02-20 02:55] shiyuangu commented on #85
PR #87

[2017-02-22 10:35] WIgor commented on #82
Actually, I've made some dirty hacks here https://github.com/grammarly/spark-ec2 for my own use. Not so complex and it works, in my case. I needed in s3a support that was included to hadoop 2.6.

[2017-02-22 20:13] shivaram commented on #82
@wigor would you be interested in sending a PR for this ?

[2017-02-22 20:28] WIgor commented on #82
@shivaram Yes, I thought to update this to latest spark version. And then will send PR.

[2017-02-22 21:24] anfeng commented on #82
propose a PR #88

[2017-02-26 17:13] mmistroni commented on #86
HI
 indeed,before i ask this, could youu please advise how can i disable this setting this in the  generated /spark/conf/spark-env.sh ?

export SPARK_WORKER_CORES=2

i have tried to comment out that line in spark-ec2/templates/root/spark/conf/spark-env.sh
but when the cluster gets generated and i go to the <master>/root/spark/conf/spark-env.sh that line is not commented out.

Could you kinldy advi

[2017-02-28 02:58] matthewadams opened #89 "Documentation incorrect regarding missing "ec2" directory"
The documentation appears to be incorrect in at least the `branch-1.6` & `branch-2.0` branches.
At https://github.com/amplab/spark-ec2#launching-a-cluster, the doc says "Go into the `ec2` directory in the release of Apache Spark you downloaded."  Problem is, there is no `ec2` directory in the Spark distribution.

http://stackoverflow.com/a/38882774/969237 says "Download the official ec2 directory

[2017-03-03 04:42] shivaram commented on #89
Yes - the contents of EC2 directory in Spark is now in the root of this repository. Would you be interested in opening a PR updating the documentation ?

[2017-03-08 00:09] matthewadams commented on #59
Ditto for `branch-2.0`.  See `Syntax error` message below (changed names to use `000-000-000-000` in order to protect the innocent).
[code]

[2017-03-08 02:38] matthewadams opened #90 "VPC/Subnet requirements not documented"
I don't believe that all of the requirements to use `spark-ec2` with an existing VPC & subnet are documented.  If I create a VPC & subnet, then use those to run `spark-ec2` as documented [here](https://github.com/amplab/spark-ec2#launching-a-cluster-in-a-vpc), I get an error ending with
[code]
More info on SO at http://stackoverflow.com/questions/42654336/how-do-i-resolve-failed-to-determine-hostn

[2017-03-08 03:02] matthewadams opened #91 "branch-2.0 should use scala 2.11"
http://spark.apache.org/downloads.html says:  "Note: Starting version 2.0, Spark is built with Scala 2.11 by default. Scala 2.10 users should download the Spark source package and build with Scala 2.10 support."

It appears as though branch-2.0 still uses scala 2.10, as evidenced from these lines from the log (produced from a `spark-ec2 ... launch ...` invocation):
[code]
I'm still trying to effor

[2017-03-08 16:39] matthewadams opened #92 "Getting InvalidClassException when running SparkPi example locally but pointing to master on AWS"
I'm getting the error below when attempting to `bin/run-example --master spark://ec2-000-000-000-000.compute-1.amazonaws.com:7077 SparkPi 10` from my local machine (ips changed to protect the innocent).  This was run with a custom build/distribution of spark 2.0.2 using scala 2.10 with hadoop 2.4 (via build commands `./dev/change-scala-version.sh 2.10 && ./dev/make-distribution.sh --name custom-sp

[2017-03-08 20:39] shivaram commented on #92
I dont think spark-ec2 is designed to run with the client on your machine and a cluster on EC2. Its designed to run with the client on the master machine and the cluster on EC2. FWIW I think the version of Spark running on cluster needs to exactly match the version on the client for things to work -- that is anyway a question for the user mailing list / stack overflow.

[2017-03-08 21:21] shivaram commented on #91
I am not sure the exception is due to scala version mismatch (does this happen when you run the client on the master machine ?). Supporting scala-2.11 is a necessity though so we can keep this issue open to track that.

[2017-03-09 17:09] matthewadams commented on #92
@shivaram said:

@shivaram, that is exactly what I did.  I ensured that my local scala, spark & hadoop versions exactly matched what was on the server.

Since I've burned so much time on `spark-ec2`, I'm now trying to use Amazon EMR and having good success.  Pointers to comparisons between `spark-ec2` and Spark on Amazon EMR would be appreciated.

[2017-03-09 17:11] matthewadams commented on #91
No, @shivaram, it doesn't.  Running the driver program directly on the master appears to work fine.

[2017-03-13 13:08] itsmeccr opened #93 "salve nodes not started on re-start"
I launched a cluster with 2 slave nodes. I ran `spark-ec2 stop cluster_name` command which stopped master and terminated the spot slave instances.
Now, I again tried to restart the cluster but got following error.
[code]

What is causing this and what is the solution?

[2017-03-18 18:06] shivaram commented on #93
We dont restart slave nodes in the case of spot instances. That is only supported for on-demand instances that have been stopped. You can use the flag `--use-existing-master` in `launch` and give the same cluster name. That will re-bid for spot instance slaves and then connect them to the stopped master

[2017-03-18 18:38] shishir-lab commented on #93
Thank you.

[2017-03-18 18:38] #93 closed

[2017-03-23 06:17] statkclee opened #94 "ap-northeast-2 seoul region support"
I've got the following error such that I've looked at the code and found out no seoul region.
When are you going to support seoul region?

------------------------------------------------------------------------------------------------------------

vagrant@sparkvm:~/spark-ec2$ ./spark-ec2 --key-pair=victor-kr --identity-file=/
etc/victor-kr.pem --instance-type=m4.large -s 1 --region=ap-northeast-2

[2017-03-23 14:34] nchammas commented on #94
Related: #13, #78, #80

spark-ec2 depends on custom AMIs which are rarely updated. I doubt support for the Seoul region will be added anytime soon, but I would love to be proven wrong about that.

If you are interested in trying a similar tool to spark-ec2 that just depends on the default Amazon Linux AMI, I recommend my project, [Flintrock](https://github.com/nchammas/flintrock). It should work w

[2017-03-24 00:56] shivaram commented on #94
Unfortunately given the other commitments I have I am not sure when the AMIs will be updated. Meanwhile I wholeheartedly recommend checking out Flintrock for newer regions.

[2017-03-24 08:16] statkclee commented on #94
I see... Thank you for recommendations.

[2017-03-24 08:16] #94 closed

[2017-03-29 18:21] cantide5ga opened #95 "Submitting to EC2 cluster"
I'm surprised that I wasn't able to find `spark-submit` anywhere on the master.

What are other folks doing to submit to Spark when using spark-ec2?  Using an external system with it's own Spark package to remotely `spark-submit`?  How would that work for code deployed and disseminated across the cluster?

[2017-03-29 18:22] shivaram commented on #95
`spark-submit` should be in the master in `/root/spark` if the setup completed successfully

[2017-03-29 18:24] cantide5ga commented on #95
@shivaram This is good to hear - but went through the process multiple times and `/root/spark` only has `/conf`.

I'll dig in some more to see if I come up with something, thanks!  Will follow-up shortly.

[2017-03-29 19:15] cantide5ga commented on #95
Confirmed a couple more times and seemingly no errors on my end.  If this isn't an issue for anyone else, any tips for figuring out what is going on here?

[2017-03-29 19:24] cantide5ga commented on #95
oh, this wasn't loud enough in the logs:
[code]

Read the docs that we _could_ specify the Spark package.  Is it required?

[2017-03-30 13:20] kampta opened #96 "Attach an existing persistant EBS volume to the cluster"
Might be a silly question.

```--ebs-vol-size``` allows to attach a new persistent EBS volume to each node for storing the persistent HDFS.

Is there a way to retrieve and reuse the EBS volume after the cluster is destroyed; or with a new cluster? (so that both master and slaves see the data without manually copying anything to different machines)

[2017-04-11 20:49] cantide5ga commented on #95
Bump to this.  Willing to push an update to make this required if the above is expected behavior when not specifying repo url or version.

[2017-04-12 00:25] milad181 commented on #80
Hello,

I have the same issue when I am using a new AMI. Is there any workaround this?
All I want is to run a cluster of spark using the latest Amazon Linux AMI.

Thanks

[2017-04-12 07:12] shivaram commented on #95
I think this is a specific problem with hadoop version 1 and spark 1.6.2. can you try passing hadoop version as 2 or yarn and see if it works

[2017-04-13 11:34] cantide5ga commented on #95
To be clear, I've been getting past this by specifying a commit hash which I prefer anyhow.  But yes, I will give this a try to provide some feedback.  Thanks!

[2017-04-19 21:55] cantide5ga commented on #95
adding `--hadoop-major-version 2` to `launch` fixed it.

Anything we should do to either circumvent in code and/or document?  Feel free to close if not.

[2017-04-20 00:06] shivaram commented on #95
I think it would be great if we could change the default to not be the failure case -- Can you send a PR changing the default hadoop version to either `2` or `yarn` ?

[2017-04-20 03:14] cantide5ga commented on #95
You got it.  Busy next few days but will follow through.

Will also include some documentation on the use of `--hadoop-major-version` which is seemingly missing from README.

Thanks again.

[2017-04-20 07:18] bindatype opened #97 "ERROR StandaloneSchedulerBackend: Application has been killed. Reason: All masters are unresponsive! Giving up."
I've launched a cluster with spark-ec2 branch-2.0 using the following:
`
$SPARK_HOME/spark-ec2/spark-ec2 --key-pair=ec2key --identity-file=$HOME/ec2key.pem --vpc-id=vpc-nnncnnnn --slaves=3 --instance-type=m4.large --hadoop-major-version=yarn --instance-profile-name=My-Cluster launch My-Cluster
`
My master and workers are all reachable via ssh over the private network and I've made sure the master

[2017-04-20 16:51] cantide5ga opened #98 "Classpath/dependency resolution of JAR app"
Is this a common thing to fight with?  I'm having to be very specific about certain dependencies in my app on submission/runtime.  Been getting around this with some shading plugins in my build tools.  Some FQN's as an example:
[code]

Another thing to note is that a local cluster using *spark-2.1.0-bin-hadoop2.7* doesn't really run into this.

Both environments are roughly executed in the same wa

[2017-04-20 17:54] stonefury opened #99 "Need support for ca-central-1"
Need the new boto dist included > 2.44 that supports canada.

Could someone suggest how I change the dist for boto?

[2017-04-20 21:49] cantide5ga commented on #98
Greatly minimized by using `branch-2.0`.

[2017-04-20 21:49] #98 closed

[2017-04-21 22:50] hexatheon opened #100 "Where to find the spark home?"
I wish to run some benchmark suite against the cluster, but cannot find the spark home folder. The one under root does not seem to have the binaries.

[2017-04-22 00:32] #100 closed

[2017-05-03 12:11] nhlumen commented on #94
Could you please include eu-west-2 to your supported regions?
Thanks!

[2017-05-05 22:18] bfleming-ciena commented on #99
In general, support for the ca-central-1 (canada) region.

[2017-05-05 22:25] stonefury opened #101 "Enable python2.7"
Anyone have instructions on how to get my spark images running with python 2.7 by default?

[2017-05-05 22:30] nchammas commented on #99
As explained in [this comment](https://github.com/amplab/spark-ec2/issues/94#issuecomment-288738362) (and in other discussions on GitHub and the Spark mailing list), new regions are not likely to be added to spark-ec2.

[2017-05-05 22:30] nchammas commented on #78
As explained in [this comment](https://github.com/amplab/spark-ec2/issues/94#issuecomment-288738362) (and in other discussions on GitHub and the Spark mailing list), new regions are not likely to be added to spark-ec2.

[2017-05-09 04:18] bfleming-ciena commented on #99
@nchammas Thank you very much for pointing me to that.

[2017-05-09 04:18] #99 closed

[2017-05-10 20:14] disconn3ct commented on #59
(branch-2.0)
I had to comment out the following modules, at which point it worked fine.

	#LoadModule authz_core_module modules/mod_authz_core.so
	#LoadModule unixd_module modules/mod_unixd.so
	#LoadModule access_compat_module modules/mod_access_compat.so
	#LoadModule mpm_prefork_module modules/mod_mpm_prefork.so
	#LoadModule php5_module modules/libphp-5.6.so

[2017-05-12 17:18] stonefury opened #102 "Support for S3 V4"
I realize this project is not being maintained any longer, but if anyone can comment to help me avoid a lot of work short term, I'm trying to figure out how to replace the aws S3 driver jets3t with a newer version to support the V4 S3 signature that is only available on new regions like frankfurt and canada.

I believe if I can replace the jetst 0.9.0 with 0.9.4 it may work.  I attempted to use sp

[2017-05-16 17:47] stonefury opened #103 "Quick question on setting fs.s3a.endpoint"
I am told that if I can set  fs.s3a.endpoint=s3.ca-central-1.amazonaws.com I can support the S3 V4 signature in the new regions so saveAsText file won't fail.

However, could someone please chime in as to where I set this value in spark-ec2 and what I need to do for it to take effect?

Would be a big help!  Thanks.

[2017-05-16 17:58] nchammas commented on #103
These don't seem like questions about the spark-ec2 tool itself. I think this question and #102 probably belong better on the Spark Users mailing list or on Stack Overflow.

Issues here should be restricted to issues with the spark-ec2 tool itself, not with Spark in general or with generic Spark interactions with AWS.

[2017-05-16 22:16] bfleming-ciena commented on #102
K

ty

[2017-05-16 22:16] #102 closed

[2017-05-17 16:02] bfleming-ciena commented on #103
Add this to spark-defaults.conf on the master.

## Support Canada Region which uses the V4 S3 signature.  Otherwise you will see "bad request" messages from saveAsTextFile
spark.driver.extraJavaOptions -Dcom.amazonaws.services.s3.enableV4 -Dcom.amazonaws.services.s3.enforceV4
spark.executor.extraJavaOptions -Dcom.amazonaws.services.s3.enableV4 -Dcom.amazonaws.services.s3.enforceV4

[2017-05-26 16:11] larissaleite commented on #97
I am also having this problem! Any luck?

[2017-06-20 04:23] vuminh88 commented on #97
me too, does anybody knows?

[2017-06-23 17:43] stonefury opened #106 "Can I add an extra disk at /mnt3?"
Running m3.xlarge, which are ephemeral disks on /mnt1 and /mnt2.

Can I add an EBS on /mnt3? Do I need to configure something to get a new mnt point to be added to the disk pool on the instance?

[2017-06-23 17:55] bfleming-ciena commented on #106
SPARK_LOCAL_DIRS?

[2017-06-26 09:02] naitik18 opened #107 "Cluster is created but Spark is not able to installed in ec2 master and slaves"
./spark-standalone/setup.sh: line 22: /root/spark/sbin/stop-all.sh: No such file or directory
./spark-standalone/setup.sh: line 27: /root/spark/sbin/start-master.sh: No such file or directory
./spark-standalone/setup.sh: line 33: /root/spark/sbin/start-slaves.sh: No such file or directory

I am getting this error while setup clustered .
Cluster was created but spark folder has only conf/spar-env.s

[2017-07-07 06:53] shreyapandit commented on #107
- change the branch to 2.0.
- default branch is 1.6 which gives the error you mentioned. I wasted multiple hours to figure it out ;)

[2017-07-11 03:43] 004307ec commented on #97
This might be the result of an incomplete shutdown of previous instance of spark.  You might check the logs in `{spark-root}/logs` to see whether master is not able to bind to specific ports.  After manual killing of previous master instance, this problem might be solved.

[2017-07-13 11:20] aditya-mittal commented on #89
@matthewadams You got any resolution for your problem above?

[2017-07-16 03:25] kmu-leeky opened #110 "support for spark 2.2.0?"
It looks like spark 2.2.0 is officially released. Is it going to be supported in spark-ec2 shortly?

[2017-07-18 08:07] aditya-mittal commented on #89
As correctly pointed out by @matthewadams, the ec2 folder is missing in the spark 2.2.0. Well, the ec2 folder was present in previous versions of spark.

Solution: Create a directory named ec2 inside downloaded spark and then clone this repository (https://github.com/amplab/spark-ec2) inside ec2 directory of downloaded spark.

[2017-07-19 16:40] shivaram commented on #110
We can support it. Would you like to open a PR ?

[2017-07-20 01:14] hyu-leeky commented on #110
I tried locally, but it does not seem as simple as I first thought - just adding 2.2.0 to "VALID_SPARK_VERSIONS" does not really work. Few things to consider. The base image contains Hadoop 2.4, while the Spark binary files are provided from Hadoop 2.6 (spark-2.2.0-bin-hadoop2.6.tgz). The base image also contains Java 1.7, and I read few documents saying that either the recent Hadoop or Spark need

[2017-07-20 01:47] shivaram commented on #110
I see. Those do require more changes including changes to the AMI and Hadoop scripts. Unfortunately I dont have time right now to try out the changes right now.

[2017-07-20 02:29] hyu-leeky commented on #110
that's ok. I tweaked the code locally to run 2.2.0 in my repo. I will create a PR if the modification and images can be generalized.

[2017-08-10 19:28] wangshusen opened #112 ""--spark-version" does not work"
If I don't specify "--spark-version", the "/root/spark/" directory contains nothing but "/conf/".

When I specify "--spark-version=2.0.0", "--spark-version=2.0.2", "--spark-version=2.1.0", or "--spark-version=2.2.0", the error is like

and spark-ec2 does not launch EC2 clusters.

But when I specify "--spark-version=1.4.1", it works fine.

I need to use Spark version after 2.0. Please help!

[2017-08-10 21:21] wangshusen commented on #112
The issue is solved by using branch-2.0.

`git clone -b branch-2.0 https://github.com/amplab/spark-ec2.git`

[2017-09-16 12:25] ddsky opened #113 "tachyon not supported?"
I started instances successfully with the ./spark-ec2 script but at the end I don't get the information like http://<master-hostname>:8080 - I assume because I get `No valid Tachyon version found; Tachyon won't be set up`

I'm running this on windows, is this not supported?

Is this tachyon necessary, I see on AWS that the instances were started successfully. Is there another way I can get into th

[2017-10-04 20:43] yuj commented on #90
I am running into the same issue.  Have you got any update?

[2017-10-04 20:45] matthewadams commented on #90
@yuj nope...it's been so long I can't remember what the solution or workaround was...sorry.

[2017-10-27 09:32] knesterovich commented on #110
Hey guys, could you please clarify if there are any updates\progress on this issue? @kmu-leeky were you able to tweak your local code to make it PRable?

[2017-10-27 14:12] nchammas commented on #110
For those still waiting for spark-ec2 to support Spark 2.2, I recommend taking a look at my project,
 [Flintrock](https://github.com/nchammas/flintrock). It's basically a faster spark-ec2 with a better user experience.

If anyone does submit a PR adding Spark 2.2 support to spark-ec2, ping me and I'll take a look. Unfortunately, updating the spark-ec2 AMIs to fully support new Spark versions (e.g.

[2017-10-27 17:35] shivaram commented on #110
+1 to what @nchammas said. We unfortunately do not have bandwidth to create new AMIs / update spark-ec2 to match the Spark releases.

[2017-11-03 18:25] yektayazdani commented on #110
I tried changing the source to use the hadoop 2.7 which the default yarn is used.
so once I change it it starts referring to

http://s3.amazonaws.com/spark-related-packages/spark-2.2.0-bin-hadoop2.4.tgz

I tried changing the init.sh in spark folder but for some reason thats not going through. Let me know where I should make the changes and I will add to the source since we need to use this.

[2017-11-08 02:49] guidovansteen commented on #113
For some reason the tachyon archive is missing at the url that the script uses.

I guess tachyon is not really necessary. I edited the "./spark_ec2.py" file, and applied these changes:

Old code:
    modules = ['spark', 'ephemeral-hdfs', 'persistent-hdfs',
               'mapreduce', 'spark-standalone', 'tachyon', 'rstudio']

New code:
    modules = ['spark', 'ephemeral-hdfs', 'persistent-hdfs',